.second_section {


    .content_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .content_wrappper_img {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .description {
            font-size: 14px;
            color: #222222;
            opacity: 0.7;
            margin: 0 0 0 0;
            padding: 0;
            line-height: 1.2;
        }

        h3 {
            @extend %font-bebas;
            font-size: 22px;
        }
    }

    .section-tittle {
        margin: 0px 0 36px 0;
    }


    .flat-item {
        margin: 0px;
        padding: 0px;
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;



        h2 {
            font-size: 1.5rem;
            font-weight: 900;
            margin-bottom: 0px;



        }

        @media #{$small_mobile} {
            max-height: 30vh;

            display: flex;
            justify-content: center;
            align-items: center;

        }

        @media #{$large_mobile} {
            max-height: 30vh;
        }

        img {
            width: 100%;
        }

        &:hover {

            .flat-item__text {

                opacity: 0;
                color: #000;
                transition: 0.5s;
            }

        }

        .flat-item__text {
            position: absolute;
            top: 0px;
            left: 0;
            width: 100%;
            background-color: #000000b3;
            height: 100%;
            padding: 65px 0px 0px 46px;
            color: #fff;
            transition: 0.5s;
            word-wrap: anywhere;

            @media #{$small_mobile} {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 10px;
            }

            @media #{$large_mobile} {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 10px;

            }
        }
    }
}

.more_info_link {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}

.more_info_link-text {
    padding: 0.7rem;
    box-shadow: 2px -2px #fff inset;
    transform: rotate(315deg);
    position: absolute;
    top: 2rem;
}

.why-block {
    @media #{$small_mobile} {
        margin-left: .5rem !important;
        margin-left: .5rem !important;
    }

    @media #{$large_mobile} {
        margin-left: .5rem !important;
        margin-left: .5rem !important;
    }

}

#price_section .border-2 {

    @media #{$small_mobile} {
        border-left: 1px solid #fff;
    }

    @media #{$large_mobile} {
        border-left: 1px solid #fff;
    }

}