.second_section {
    .content_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .content_wrappper_img {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .description {
            font-size: 14px;
            color: #222222;
            opacity: 0.7;
            margin: 0 0 0 0;
            padding: 0;
            line-height: 1.2;
        }

        h3 {
            @extend %font-bebas;
            font-size: 22px;
        }
    }

}