.map-section {

    .map {
        width: 100%;
        height: 500px;
        display: block;
        position: relative;
        z-index: 2;
        cursor: pointer;

    }

    .map-inner-contact {
        background-color: white;
        width: 300px;
        position: absolute;
        top: 30px;
        left: 30px;
        z-index: 2;
        box-shadow: 2px 2px 6px #00000029;
        border-radius: 3px;
        padding: 20px;

        h5 {
            @extend %font-bebas;
            font-size: 22px;
        }

        p {
            margin-bottom: 20px;
            color: #222222;
            font-size: 18px;
            opacity: 0.9;
        }
    }

    .map-inner-contact-form {
        padding: 30px;
        width: 520px;
        background: #FFC107;
        position: absolute;
        bottom: 30px;
        right: 30px;
        z-index: 30;
        box-shadow: 2px 2px 6px #00000029;

        @media #{$small_mobile} {
            padding: 0;
            width: 100%;
            position: unset;
            overflow: hidden;
        }

        @media #{$large_mobile} {
            padding: 0;
            width: 100%;
            position: unset;
            overflow: hidden;
        }



        h5 {
            font-weight: 700;
            letter-spacing: 3.6px;
            opacity: 1;
            @extend %font-bebas;
            font-size: 32px;
        }

    }

    /* &#34;Блок-обертка&#34;, где мы задаем фоновое изображение скриншотом как на карте */
    .ymap-container {
        position: relative;
        overflow: hidden;
        cursor: pointer;
        background: url('/assets/img/ymap-before-load.jpg') #ffffff no-repeat;
        background-position: center center;
        background-size: cover;

    }

    /* Блок, в котором появится Яндекс.Карта */
    #map-yandex {
        position: relative;
        z-index: 7;
        width: 100%;
        height: 500px;
        cursor: pointer;
        background-color: transparent;
    }

    /* Индикатор загрузки, который показывается до загрузки карты */
    .loader {
        position: absolute;
        z-index: 15;
        top: -100%;
        left: 0;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        overflow: hidden;
        color: #000000;
        transition: opacity .7s ease;
        opacity: 0;
        background-color: rgba(0, 0, 0, .55);
    }

    .loader:after,
    .loader:before {
        box-sizing: border-box;
    }

    .loader.is-active {
        top: 0;
        opacity: 1;
    }

    .loader-default:after {
        position: absolute;
        top: calc(50% - 24px);
        left: calc(50% - 24px);
        width: 48px;
        height: 48px;
        content: '';
        animation: rotation 1s linear infinite;
        border: solid 8px #ffffff;
        border-left-color: transparent;
        border-radius: 50%;
    }

    @keyframes rotation {
        from {
            transform: rotate(0);
        }

        to {
            transform: rotate(359deg);
        }
    }

    @keyframes blink {
        from {
            opacity: .5;
        }

        to {
            opacity: 1;
        }
    }
}