#apartments_section {

    aside {
        &.appart-wraper {

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;


            @media #{$small_mobile} {
                height: auto;
                display: none;
            }

            @media #{$large_mobile} {
                height: auto;
                display: none;
            }
        }

        @media #{$small_mobile} {
            margin: 20px 10px 30px;
        }

        @media #{$large_mobile} {
            margin: 20px 10px 30px;
        }

    }

    color: #fff;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 900;
    }

    p {
        @media #{$small_mobile} {
            padding-right: 10px;
            padding-left: 10px;
        }

        @media #{$large_mobile} {
            padding-right: 10px;
            padding-left: 10px;
        }
    }

    .apartments_desc {
        @media #{$small_mobile} {
            padding-right: 25px;
            padding-left: 25px;
            padding-bottom: 0px;
        }

        @media #{$large_mobile} {
            padding-right: 25px;
            padding-left: 25px;
            padding-bottom: 0px;
        }

    }

    .apartments_section_wrapper {}

    .apartments_tittle {

        h1 {
            font-weight: 900;
            font-size: 2rem;

            @media #{$small_mobile} {
                margin-top: 6.5vh;
            }

            @media #{$large_mobile} {
                margin-top: 6.5vh;
            }

            span {
                font-size: 1rem;
                font-weight: 500;
            }

        }
    }

    .apartments_desc {
        color: #fff;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-bottom: 60px;
        padding-top: 20px;

        @media #{$small_mobile} {

            padding-bottom: 0px;
        }

        @media #{$large_mobile} {

            padding-bottom: 0px;
        }
    }

    .second_section__images_block-main-image {
        @media #{$small_mobile} {
            display: none;
        }

        @media #{$large_mobile} {
            display: none;
        }

    }

    .second_section__images_block {


        img {
            width: 100%;



        }
    }


    .appart_container {
        p {
            margin: 20px 0;
        }

        &>h3 {
            @media #{$small_mobile} {
                padding-right: 10px;
                padding-left: 10px;
            }

            @media #{$large_mobile} {
                padding-right: 10px;
                padding-left: 10px;
            }
        }
    }

    .slider_nav_appart {
        display: flex;
        flex-direction: column;

        @media #{$small_mobile} {
            display: none;
        }

        @media #{$large_mobile} {
            display: none;
        }

        li {
            display: inline-block;
            width: max-content;
            transition: 0.5s;

            &.active {
                margin: 50px 0;
                display: inline-block;
                font-weight: 900;

                @media #{$small_mobile} {
                    margin: 0px 0;
                }

                @media #{$large_mobile} {
                    margin: 0px 0;
                }
            }
        }
    }
}

button.slick-next.slick-arrow {
    margin: 20px;
}

button.slick-prev.slick-arrow {
    margin: 20px;
}