.intro,
.end {
    height: 100vh;
    width: 100%;
    position: relative;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    /*   font-size: 6rem;*/
    padding: 10rem;
    box-sizing: border-box;
}

.intro p,
.end a {
    /*  font-size: 3rem;*/
}

.end {
    margin-top: 100vh;
}

.showcase {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.phone-part {
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    /*   font-size: 3rem;*/

    display: flex;
    justify-content: center;
    align-items: center;
}

.phone-part .color-titles {
    .h2 {
        font-size: 1.8rem;
    }

    //position: absolute;

    // top: 20vh;
    /*
     width: 100%;
      left: 50%;
    transform: translate(-50%, 0);
       font-size: 3.8rem;*/
}

.black-part {
    background-color: #000;
    z-index: 1;
}

.black-part .color-titles .black-title {

    /* color: #f5f5f7;*/
    @media #{$small_mobile} {
        padding-left: 10px;
        padding-right: 10px;

    }

    @media #{$large_mobile} {
        padding-left: 10px;
        padding-right: 10px;
    }

}

.white-part {
    /*background-color: #f2f2f2;*/
    background-image: url('../img/5-section-image.jpg');
    z-index: 2;
    clip-path: inset(100% 0px 0px);
    -webkit-clip-path: inset(100% 0px 0px);
}

.white-part .color-titles .black-title {
    /*  color: #8b8b99;*/
}

.white-part .color-titles .white-title {
    color: #000;
}

.red-part {
    /* background-color: #960919;*/
    background-image: url('../img/4-section-image.jpg');
    height: 100vh;
    z-index: 3;
    clip-path: inset(100% 0px 0px);
    -webkit-clip-path: inset(100% 0px 0px);
}

.red-part .color-titles .black-title,
.red-part .color-titles .white-title {
    /* color: #e57571;*/
}

.red-part .color-titles .white-title {
    display: inline;
}

.red-part .color-titles .red-title {
    color: #f5f5f7;
    display: inline;
}

.phone-part img {
    width: calc(20rem + 20vw);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50vh);
}

@media only screen and (max-width: 56.25em) {

    .black-part .color-titles .black-title,
    .black-part .color-titles .white-title,
    .white-part .color-titles .black-title,
    .white-part .color-titles .white-title,
    .red-part .color-titles .black-title,
    .red-part .color-titles .white-title {
        display: inline;
    }

    .red-part .color-titles .red-title {
        display: block;
    }

    .phone-part .color-titles {
        top: 15vh;
        /*   font-size: 3rem;*/
    }
}

@media only screen and (max-width: 43.75em) {
    .phone-part .color-titles {
        width: 21rem;
    }
}


.scene {


    @media #{$small_mobile} {
        padding-left: 10px;
        padding-right: 10px;

    }

    @media #{$large_mobile} {
        padding-left: 10px;
        padding-right: 10px;
    }

    /* margin: 200px 0 0;
        padding: 50px;
    outline: 1px dashed orange;*/
}

/*
    .pin {
        padding: 20px;
        background: blue;
        color: white;
    }*/

.tween {
    padding: 20px;
    outline: 1px dashed rgba(0, 0, 0, 0.2);
}

.inside2 {
    padding: 20px;
    background: black;
    opacity: 0;

    @media #{$small_mobile} {
        padding: unset;


    }

    @media #{$large_mobile} {
        padding: unset;
    }

    p {
        font-weight: 100;

        @media #{$small_mobile} {
            font-weight: 100;
            line-height: 1.1;

        }

        @media #{$large_mobile} {
            font-weight: 100;
            line-height: 1.1;
        }

    }

    a.underline-anim.active {
        font-weight: 900;
        width: max-content;
        transition: 0.3s;

        &:hover {
            color: #cccccc;
        }
    }
}


.inside3 {
    @media #{$small_mobile} {
        padding-left: 10px;
        padding-right: 10px;

    }

    @media #{$large_mobile} {
        padding-left: 10px;
        padding-right: 10px;
    }

    /*    
        padding: 20px;
        background: teal;*/
}