.categorytsection {


    height: 100vh;
    overflow: hidden;
    background-size: cover;
    padding: 0px 0px 0px 7.5%;
    background-position: center;

    @media #{$small_mobile} {
        padding: 0px 0px 0px 0px;


    }

    @media #{$large_mobile} {
        padding: 0px 0px 0px 0px;
    }

    .container {
        height: calc(100vh - 120px);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-left: 1em;

        @media #{$small_mobile} {
            padding: 0px 1rem;
            justify-content: space-around;
            // text-align: center;


        }

        @media #{$large_mobile} {
            padding: 0px 1rem;
            justify-content: space-around;
            // text-align: center;
        }

    }

    .main_select {
        display: flex;
        justify-content: center;
        align-items: center;

        .button-group {

            a.active {
                color: #fff;
            }

            a {
                color: #5e5e5e;
            }
        }

        @media #{$small_mobile} {
            .button-group {
                display: flex;
                flex-direction: column;
            }


        }

        @media #{$large_mobile} {
            .button-group {
                display: flex;
                flex-direction: column;
            }
        }


    }

    .main_content {




        h1 {

            font-size: 3em;
            font-family: "Gotham Pro";
            color: white;
            line-height: 1;
            text-align: left;
            font-weight: 900;
            padding: 0 0 1rem 0;

            @media #{$small_mobile} {
                font-size: 30px;
                text-align: center;
            }

            @media #{$large_mobile} {
                font-size: 30px;
                text-align: center;
            }

            @media #{$tab_device} {
                font-size: 30px;

            }

            @media #{$medium_device} {
                font-size: 35px;

            }

        }


    }

    .navigation_top {
        align-items: right;

        @media #{$small_mobile} {
            display: none;
        }

        @media #{$large_mobile} {
            display: none;
        }

        a {
            font-size: 1rem;
            color: #5e5e5e;

            &:hover {
                color: #FFf;
            }

        }
    }

    .line-hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 2px solid rgb(255, 255, 255);
        width: 120px;
        margin: 0px 30px
    }

}