h1,
h2,
h3 {
    letter-spacing: .05em;
}

.tabs-info {
    list-style: initial;
    padding-left: 45px;
    margin: 15px 0;

    li {
    }
}

.accordion__rotate-custom-plus {
    
    &::after {
        transform: translateY(-50%) rotate(90deg) !important;
    }
}

.serviceFilterButton {
    background-color: #fff;
    color: #222222;
    border-radius: 3px;
    border: 2px solid;
    border-color: #707070;
    @extend %font-bebas;
    transition: 0.4s ease;
    text-align: center;
    padding: 18px;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    height: 100%;

    &:hover {
        background: $color_magenta;
        color: #fff;
    }

    &.active {
        background-color: #343c44 !important;

        &:focus {
            box-shadow: 0 0 0 0.2rem rgb(25, 28, 30);
        }
    }
}

.serviceFilterButton-active {
    color: #fff;
    background: $color_magenta;
    border-color: $color_magenta;
}

.service-filter-button.is-checked {
    border: 2px solid $color_magenta;
    background: $color_magenta;
    color: #fff;
}

.innerFilterButton-active {
    color: #FFF;
    background: $color_magenta;
    border-color: $color_magenta;
}

.buttons-container {
    .innerFilterButton-active {
        color: $color_magenta;

    }
}

.service-filter-button-item {

    background: transparent;
    border: unset;
}

.contact-button {
    background-color: $color_cyan;
    font-family: $font-bebas;
    padding: 10px 40px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.5;
    line-height: 1.5;
    border: unset;
    transition: 0.25s;

    &:hover {
        background-color: #368f91;
    }
}


.section_padding {
    padding: 140px 0px;

    @media #{$medium_device} {
        padding: 100px 0px;
    }

    @media #{$tab_device} {
        padding: 70px 0px;
    }

    @media #{$small_mobile} {
        padding: 70px 0px;
    }

    @media #{$large_mobile} {
        padding: 70px 0px;
    }
}

.single_padding_top {
    padding-top: 140px !important;

    @media #{$medium_device} {
        padding-top: 70px !important;
    }

    @media #{$tab_device} {
        padding-top: 70px !important;
    }

    @media #{$small_mobile} {
        padding-top: 70px !important;
    }

    @media #{$large_mobile} {
        padding-top: 100px !important;
    }
}

.padding_top {
    padding-top: 140px;

    @media #{$medium_device} {
        padding-top: 100px;
    }

    @media #{$tab_device} {
        padding-top: 70px;
    }

    @media #{$small_mobile} {
        padding-top: 70px;
    }

    @media #{$large_mobile} {
        padding-top: 70px;
    }
}

a {
    text-decoration: none;


    &:hover {
        outline: none;
        text-decoration: none;
    }
}



a:focus,
.button:focus,
button:focus,
.btn:focus {
    text-decoration: none;
    outline: none;
    box-shadow: none;

}


@media #{$small_mobile} {}

@media #{$large_mobile} {}

@media #{$tab_device} {}

@media #{$medium_device} {}



ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mb_110 {
    margin-bottom: 110px;

    @media #{$small_mobile} {
        margin-bottom: 220px;
    }

}

.mt_130 {
    margin-top: 130px;

    @media #{$small_mobile} {
        margin-top: 70px;
    }

    @media #{$large_mobile} {
        margin-top: 70px;
    }

    @media #{$tab_device} {
        margin-top: 70px;
    }

    @media #{$medium_device} {
        margin-top: 70px;
    }
}

.mb_130 {
    margin-bottom: 140px;

    @media #{$tab} {
        margin-bottom: 70px;
    }

    @media #{$medium_device} {
        margin-bottom: 100px;
    }
}

.padding_mob {
    @media #{$small_mobile} {
        padding-left: 10px;
        padding-right: 10px;
    }

    @media #{$large_mobile} {
        padding-left: 10px;
        padding-right: 10px;
    }

    @media #{$tab_device} {
        padding-left: 0rem;
        padding-right: 0rem;
    }

    @media #{$medium_device} {
        padding-left: 0rem;
        padding-right: 0rem;
    }

    @media #{$big_screen} {
        padding-left: 0rem;
        padding-right: 0rem;
    }

    @media #{$extra_big_screen} {
        padding-left: 0rem;
        padding-right: 0rem;
    }
}

.padding_desktop {
    @media #{$small_mobile} {

        padding-left: 0rem;
        padding-right: 0rem;
    }

    @media #{$large_mobile} {

        padding-left: 0rem;
        padding-right: 0rem;
    }

    @media #{$tab_device} {
        padding-left: 0rem;
        padding-right: 1rem;
    }

    @media #{$medium_device} {
        padding-left: 0rem;
        padding-right: 1rem;
    }

    @media #{$big_screen} {
        padding-left: 0rem;
        padding-right: 1rem;
    }

    @media #{$extra_big_screen} {
        padding-left: 0rem;
        padding-right: 1rem;
    }


}

.next_post,
.prev_post {
    a {
        display: flex;
        justify-content: center;
        align-items: center;

        @media #{$small_mobile} {
            background-color: #000000d9;
            transition: 0.5s;
        }

        @media #{$large_mobile} {
            background-color: #000000d9;
            transition: 0.5s;
        }

        &:hover {
            @media #{$small_mobile} {
                background-color: unset;

            }

            @media #{$large_mobile} {
                background-color: unset;
            }
        }

    }



    .h5 {
        @media #{$small_mobile} {}

        @media #{$large_mobile} {}

        @media #{$tab_device} {
            display: none;
        }

        @media #{$medium_device} {
            display: none;
        }

        @media #{$big_screen} {
            display: none;
        }

        @media #{$extra_big_screen} {
            display: none;
        }
    }




}

.arrow-before-right {
    position: relative;

    &::before {
        content: "";
        display: inline-block;
        transition: 0.2s ease;
        width: 30px;
        height: 100%;
        position: absolute;
        top: -1px;
        left: calc(100% + 3px);
        padding-left: 10px;
        background: url(/assets/img/icon/right-arrow.svg) no-repeat center;
    }
}

.modal-body {
    padding: 50px;
    padding-top: 35px;

    .form__input {
        padding: 7px 20px;
    }
}
/**************** common css end ****************/