.nav_side {
    width: 7.5%;
    position: fixed;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;

    @media #{$small_mobile} {
        flex-direction: row-reverse;
        display: none;
    }

    @media #{$large_mobile} {
        flex-direction: row-reverse;
        display: none;
    }
}

header {
    @extend %font-bebas;
}

.header-mobile {

    position: fixed;
    height: 6vh;
    justify-content: space-around;
    width: 100%;
    z-index: 555;
    background-color: #000;
    align-items: center;
    display: none;

    @media #{$small_mobile} {
        display: flex;
    }

    @media #{$large_mobile} {
        display: flex;
    }

}

.header_block {

    position: fixed;
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: #000;
    flex-direction: column;
    justify-content: space-around;
}

.overlay {
    height: 100%;
    width: 100%;
    left: -92.5%;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);

    @media #{$small_mobile} {
        left: 100%;
    }

    @media #{$large_mobile} {
        left: 100%;

    }
}

.show {
    left: 0px;
    transition: all 1s cubic-bezier(.25, .8, .25, 1);


}

#myNav {
    transition: all 1s cubic-bezier(.25, .8, .25, 1);
    z-index: 99;

}

.overlay-content {
    position: relative;
    width: 100%;

    height: 100%;
    display: flex;

    margin-left: 15%;

    .menu-header {
        display: flex;
        justify-content: center;
        align-items: center;

    }
}

.main-menu {
    overflow: hidden;
}

.navigation_main_menu {
    display: flex;
    flex-direction: column;

    ul {}

    li.group-items {
        margin: 0px;
    }

    li.group-items-end {
        margin: 0 0 1.5rem;
    }

    li {
        margin: 1.5rem 0;
        height: 1.5rem;

        a {
            color: rgba(255, 255, 255, 0.9);
            font-size: 1rem;
            transition: 0.5s;
            margin: 10px 0;
            font-weight: 100;
            line-height: 1.5rem;

            transition: 0.5s;

            &:hover {
                color: #fff;
                font-weight: 900;
                padding-left: 20px;
            }


        }




        &.current-menu-item,
        &.current-menu-parent {
            &>a {
                font-weight: 600;
                color: #fff;
                padding: 10px 0;
            }

            // margin: 10px 0;
        }

        &.current_page_item {
            &>a {
                font-weight: 600;
                color: #fff;
                padding: 10px 0;

            }

            // margin: 10px 0;
        }

        &.navigation_main_menu-item {}
    }
}



.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 10px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}


//гамбургер

/* GENERAL STYLES */
.visuallyHidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}




.hamburger {
    margin: 0 auto;
    margin-top: 30px;
    width: 30px;
    height: 30px;
    position: relative;
}

.hamburger .bar {
    padding: 0;
    width: 30px;
    height: 4px;
    background-color: #fff;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute;
}

.bar1 {
    top: 0;
}

.bar2,
.bar3 {
    top: 13.5px;
}

.bar3 {
    right: 0;
}

.bar4 {
    bottom: 0;
}

/* HAMBURGER 4 */

.hamburger2 .bar2,
.hamburger3 .bar3,
.hamburger4 .bar4 {
    top: 13.5px;
}

.hamburger4 .bar5 {
    bottom: 0px;
}

.hamburger4 .bar {
    transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s;
}

.hamburger4 .bar2 {
    width: 1px;
    transform: rotate(90deg);
    left: 13.5px;
}

.hamburger4 .bar3 {
    width: 1px;
    left: 13.5px;

}

.checkbox4:checked+label>.hamburger4>.bar1 {
    top: 13.5px;
    background-color: transparent;
}

.checkbox4:checked+label>.hamburger4>.bar2 {
    left: 0px;
    width: 30px;
    transform: rotate(45deg);
}

.checkbox4:checked+label>.hamburger4>.bar3 {
    left: 0;
    width: 30px;
    transform: rotate(-45deg);
}

.checkbox4:checked+label>.hamburger4>.bar4 {
    background-color: transparent;
}

.checkbox4:checked+label>.hamburger4>.bar5 {
    bottom: 13.5px;
    background-color: transparent;
}





//второй гамбургер


.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 1000ms, stroke-dashoffset 1000ms;
    stroke: #fff;
    // stroke-width: 5.5;
    stroke-width: 3.5;
    stroke-linecap: round;
}



.ham7 .top {
    stroke-dasharray: 40 82;
}

.ham7 .middle {
    stroke-dasharray: 40 111;
}

.ham7 .bottom {
    stroke-dasharray: 40 161;
}

.ham7.active .top {
    stroke-dasharray: 17 82;
    stroke-dashoffset: -62px;
}

.ham7.active .middle {
    stroke-dashoffset: 23px;
}

.ham7.active .bottom {
    stroke-dashoffset: -83px;
}

.current-menu-parent.current-post-parent>a::after {
    color: #fff;
    content: "";
    -webkit-animation: blink 2s linear infinite;
    animation: blink 2s linear infinite;
}


@-webkit-keyframes blink {
    50% {
        color: rgb(34, 34, 34);
    }

    51% {
        color: rgba(34, 34, 34, 0);
    }

    100% {
        color: rgba(34, 34, 34, 0);
    }
}

@keyframes blink {
    50% {
        color: rgb(34, 34, 34);
    }

    51% {
        color: rgba(34, 34, 34, 0);
    }

    100% {
        color: rgba(34, 34, 34, 0);
    }
}