@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Device size variables
$medium_device : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$tab_device:'only screen and (min-width: 768px) and (max-width: 991px)';
$large_mobile: 'only screen and (min-width: 576px) and (max-width: 767px)';
$tab:'(max-width: 991px)';
$small_mobile:'(max-width: 576px)';
$xs_mobile:'(max-width: 420px)';
$sm_mobile:'only screen and (min-width: 421px) and (max-width: 575px)';
$big_screen:'only screen and (min-width: 1200px) and (max-width: 1440px)';
$extra_big_screen: 'only screen and (min-width: 1200px) and (max-width: 3640px)';

// Font Block
%font-bebas {
    font-family: 'Bebas Neue';
    letter-spacing: 0.05em;
}

%font-roboto {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

$font-bebas:'Bebas Neue';
$font-roboto:'Roboto';


@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Thin'), local('BebasNeue-Thin'), url('../../assets/fonts/bebasneuethin.woff2') format('woff2'), url('bebasneuethin.woff') format('woff'), url('bebasneuethin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Light'), local('BebasNeue-Light'), url('../../assets/fonts/bebasneuelight.woff2') format('woff2'), url('bebasneuelight.woff') format('woff'), url('bebasneuelight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Book'), local('BebasNeueBook'), url('../../assets/fonts/bebasneuebook.woff2') format('woff2'), url('bebasneuebook.woff') format('woff'), url('bebasneuebook.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Regular'), local('BebasNeueRegular'), url('../../assets/fonts/bebasneueregular.woff2') format('woff2'), url('bebasneueregular.woff') format('woff'), url('bebasneueregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Bold'), local('BebasNeueBold'), url('../../assets/fonts/bebasneuebold.woff2') format('woff2'), url('bebasneuebold.woff') format('woff'), url('bebasneuebold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}








// Colors Variables
$color_magenta:#f54785;
$color_yellow:#ffc107;
$color_cyan:#4cc0c2;
$color_gray:#222222;
$color_grad: linear-gradient(82deg, rgba(76, 192, 194, 0.8) 0, rgba(245, 71, 133, 0.8) 49%, rgba(255, 193, 7, 0.8) 90%) 0 0 no-repeat padding-box;

%color-white {
    color: #fff;
}

.border-cyan {
    border-bottom: 4px solid $color_cyan;
    margin: 10px 5% 30px 5%;
}

.border-magenta {
    border-bottom: 4px solid $color_magenta;
    margin: 10px 5% 30px 5%;
}

.border-yellow {
    border-bottom: 4px solid $color_yellow;
    margin: 10px 5% 30px 5%;
}

.bg-section-light {
    background: #FAFAFA;
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
    z-index: 1;
}

.bg-section-white {
    background: #fff;
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
    z-index: 1;
}