@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../fonts/stylesheet.css"; //шрифт

@import "_variables";
@import "_common";


//импорт стилей главной
@import "./front-page/1stsection";
@import "./front-page/_2ndsection";
@import "./front-page/_3rdsection";
@import "./front-page/_4thsection";
@import "_elements";


//price
@import "_contactsection";
//blog
@import "./front-page/_blogsection";
@import "_menu";
@import "_form";
@import "_modal";
@import "_preloader";


@import "./header";

body {
    background-color: #fff;
    @extend %font-roboto;
    color: #000;
}

main,
footer {
    width: 100%;

    @media #{$small_mobile} {
        width: 100%;
    }

    @media #{$large_mobile} {
        width: 100%;
    }
}







.navbar {
    z-index: 2;
}




.img-center {
    display: flex;
    justify-content: center;
    align-items: center;

}

.tittle-bg-cyan {
    @extend %font-bebas;
    position: relative;
}

.tittle-bg-cyan:before {
    width: 20px;
    height: 20px;
    content: "";
    display: block;
    background: $color_cyan;
    position: absolute;
    z-index: -1;
    border-radius: 3px;
    left: -13px;
    top: -4px;

}

.tittle-bg-magenta {
    @extend %font-bebas;
    position: relative;
}

.tittle-bg-magenta:before {
    width: 20px;
    height: 20px;
    content: "";
    display: block;
    background: $color_magenta;
    position: absolute;
    z-index: -1;
    border-radius: 3px;
    left: -13px;
    top: -4px;
}

.tittle-bg-yellow {
    @extend %font-bebas;
    position: relative;
}

.tittle-bg-yellow:before {
    width: 20px;
    height: 20px;
    content: "";
    display: block;
    background: $color_yellow;
    position: absolute;
    z-index: -1;
    border-radius: 3px;
    left: -13px;
    top: -4px;

}



footer {
    .footer-wrapper {
        background-color: $color_gray;
        padding-top: 30px;
        padding-bottom: 30px;
        color: #a8a8a8;
    }

}






//подчеркивание ссылок
a.underline-anim {
    color: #fff;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    padding: 0px 0px 10px 0px;
    margin-right: 10px;
    width: max-content;

}

a.underline-anim:hover,
a.underline-anim:focus {
    background-size: 100% 2px;
    color: #fff;
    text-decoration: unset;
}

.underline-anim {
    color: #fff;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    padding: 0px 0px 10px 0px;
    margin-right: 10px;
    cursor: pointer;
}

.underline-anim:hover,
.underline-anim:focus {
    background-size: 100% 2px;
    color: #fff;
    text-decoration: unset;
}

.underline-anim.active {
    background-size: 100% 2px;
    color: #fff;
    text-decoration: unset;
}