#case_section {


    .case_group_button {

        font-weight: 700;
        letter-spacing: 2.2px;
        font-size: 22px;
        color: #222222;
        padding: 0 10px;
        transition: 0.4s ease;



    }

    .case_content {
        .tittle-filter {
            font-family: $font-bebas;
            letter-spacing: 4.4px;
            color: #222222;
            opacity: .7;
            font-weight: 700;
            font-size: 22px;

        }

        .case_content_buttons {
            font-family: $font-bebas;

            .buttons-container {
                display: flex;
                justify-content: flex-end;
                flex-wrap: wrap;
            }
        }

        .service-filter-button-item {
            font-size: 22px;
        }
    }



    .contact-info {

        h3 {


            @media #{$small_mobile} {}

            @media #{$large_mobile} {}
        }

        p {}

        h6 {}
    }


}

.contact-form-section {
    background: #FFC107;

    h2 {
        font-family: $font-bebas;
        font-weight: 700;
        font-size: 36px;
        letter-spacing: 3.6px;
        margin-bottom: 10px;
    }

    p {

        font-family: $font-roboto;

    }

    .contact-form-section-inner {


        padding: 50px 15px 50px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        flex-wrap: wrap;
    }

    .nameInput,
    .phoneInput {
        padding: 12px;
        border: unset;
    }

    .nameInput {
        margin-bottom: 10px;
    }

    .messageInput {
        border: unset;
        padding: 10px;
    }
}

.contact-form2-section {
    background: #49babc;

    h2 {
        font-family: $font-bebas;
        font-weight: 700;
        font-size: 36px;
        letter-spacing: 3.6px;
        margin-bottom: 10px;
        color: #fff;
    }

    p {

        font-family: $font-roboto;
        color: #fff;

    }

    .contact-form-section-inner {


        padding: 20px 0px 20px 0px;

    }

    .nameInput,
    .phoneInput {
        padding: 12px;
        border: unset;
    }

    .nameInput {
        margin-bottom: 10px;
    }

    .messageInput {
        border: unset;
        padding: 10px;
    }
}

.project-pagination {
    position: relative;

    hr {
        margin-bottom: unset;
    }

    .project-pagination-item {
        padding: 20px 0;

        a {
            font-family: $font-bebas;
            text-transform: uppercase;

            font-size: 25px;
            color: #000;
        }
    }


}