.info-table-vertical {

    .img-wrapper {
        display: flex;
        justify-content: center;
        margin: 30px auto;
        max-width: 450px;

        .img {
            width: 32px;
            height: 32px;
        }
    }

    .text-wrapper {
        max-width: 450px;
        margin: auto;

        .text {
            text-align: center;
        }
    }
}

.text {
    color: $color-light-gray;
    font-family: $text-font;
    font-size: 15px;
}

.simple-text {
    max-width: 1000px;
    margin: 15px auto;
}

.simple-block {
    max-width: 1000px;
    margin: 60px auto;
}

.title {
    margin-bottom: 30px;
    font-family: $font-bebas;
    font-size: $title-font-size;
    text-align: center;
    color: $color_gray;
    font-weight: 700;
}


.title-text {
    padding-left: 10px;
    font-family: $font-bebas;
    font-size: calc(18px + 1vw);
    font-weight: 700;
}

h3.title-text {
    font-size: calc(15px + 1vw);
}

h4.title-text {
    font-size: calc(20px + 0.5vw);
}
h5.title-text {
    font-family: $text-font;
    font-size: 18px;
    line-height: initial;
}


.button-to-order-block {
    margin: 60px auto;

    .col-md-6 {
        padding: 5px;
    }

}


.button-wrapper {
    max-width: 300px;
}

.cyan-button {
    font-family: $font-bebas;
    font-size: 14px;
    letter-spacing: .1em;
    padding: 13px 30px;
    color: $color-white;
    background-color: $color_cyan;
    text-transform: uppercase;
    padding: 13px 40px;
    outline: none;
    border: none;

    transition: 500ms;

    &:hover {
        background-color: black;
    }
}

.weight-button {
    font-size: 18px;
    font-weight: 700;
}

.mb0 {
    margin-bottom: 0 !important;
}

.hint-wrapper {
    margin: 60px 15px;
}

.hint {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 900px;
    width: 100%;
    padding: 20px 20px 20px 40px;
    margin: 0 auto;
    font-size: 15px;
    font-family: verdana, 'open sans', sans-serif;
    color: #FFF;
    box-shadow: 0px 1px 5px #999;
    border-radius: 5px;

    &::before {
        content: "";
        position: absolute;
        width: 8px;
        height: 23px;
        left: 20px;
        top: 15px;
        background-image: url('');
    }
}

.pink-background {
    background-color: $color_magenta;
}

.smm-table-advantage {
    margin: 60px 0;
}

.target-page__info-table .left-side-block {
    display: flex;
    margin: 0 auto;

    img {
        margin: 20px auto;
    }
}

.h0 {
    height: 0 !important;
}

.bloger-page__info-table .text {
    max-width: 290px;
    margin: 0 auto;
}

.bloger-page__info-table .left-side-block {
    display: flex;
    margin: 0 auto;

    img {
        margin: 20px auto;
    }

}


.bc-gray-light {
    background-color: #BABABA;
}

.mw950 {
    max-width: 950px;
}

.color-black {
    color: black;
}