.section_3 {
    .container {
        position: relative;
    }

    .slider-nav {
        width: 300px;
    }

    .slider-nav img {
        width: 50px;
        height: 50px;
        border-radius: 50%;

    }

    .slider-nav .slick-current:after {
        width: 50px;
        height: 50px;
        background: #FFC107;
        z-index: 6;
        position: absolute;
        content: "";
        opacity: 0.5;
        border-radius: 50%;
        top: 0;

    }

    button.slick-arrow {
        margin: 0 !important;
    }

    .slider-for {
        .slider-for_image {
            width: 350px;
            height: 520px;
            background: transparent no-repeat top center;
            background-image: none;
            background-size: auto;
            background-size: auto 100%;
            display: flex;
            justify-content: center;

            img {
                max-height: 100%;
            }
        }

    }

    .slider-for-text {
        h3 {
            @extend %font-bebas;
            line-height: 1;
            margin-bottom: 0px;
            margin-top: 50px;
            font-weight: 700;
        }

        h5 {
            @extend %font-bebas;
        }

        p {
            @extend %font-roboto;
        }

    }

    .big-arrow {

        @media #{$small_mobile} {
            display: none;
        }

        @media #{$large_mobile} {
            display: none;
        }

    }

}



%small-arrow {
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
}

%big-arrow {
    width: 40px;
    height: 40px;
    top: calc(50% - 20px);
}

%arrow-base-style {
    position: absolute;
    display: block;
    background: url(../img/icon/angle-right.svg) no-repeat center;
    opacity: 0.6;
    transition: 0.5s ease;
    cursor: pointer;
    border: 0;
    padding: 0;

    background-size: contain;

    &:hover {
        opacity: 0.9;
    }
}

.slick-next-big {
    @extend %big-arrow;
    @extend %arrow-base-style;
    right: 0;
}

.slick-prev-big {
    transform: rotateZ(180deg);
    @extend %big-arrow;
    @extend %arrow-base-style;
}

.slick-next-small {
    @extend %small-arrow;
    @extend %arrow-base-style;
    right: 0;
}

.slick-prev-small {
    transform: rotateZ(180deg);
    @extend %small-arrow;
    @extend %arrow-base-style;
}


.slider-brand-item {
    margin: 0 15px;
    padding: 25px;
    height: 150px !important;
    display: flex !important;
    align-items: center;

    img {
        border-radius: 10px;
    }
}

.slick-arrow:before {
    color: gray;

}

.slick-arrow {
    margin: 0 !important;
    z-index: 2;
}